

<footer class="footer bg-light fixed-bottom">
    <div class="container-fluid">
            <p>&copy; Miserecord. All rights reserved.</p>


    </div>
</footer>



<style>
    .logo {
        height: 35px;
    }

    /* Make footer sticky (fixed at bottom) */
    .footer {
        background-color: black !important;
        padding: 5px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        font-size:10px;
        text-align: center;
        color: rgba(255, 255, 255, 0.43);


    }

 

    /* Footer Links Styling */
    .footer-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        
    }

    .footer-item {
        display: inline;
        margin: 0 15px;
    }

    .footer-link {
        color: rgba(255, 255, 255, 0.43);
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;
    }

    .footer-link:hover {
        color: #ffeA00; /* Yellow on hover */
    }

</style>

