{% extends 'base.html.twig' %}

{% block title %}Artist List{% endblock %}

{% block body %}
    <h1>Artist List</h1>
    <div class="artist-container">
        {% for artist in artists %}
            <div class="artist-card">
                <h2>
                    <a href="{{ path('artist_profile', {'artist_id': artist.id}) }}">
                        {{ artist.artistName }}
                    </a>
                </h2>
                {% if artist.artistPhotos|length > 0 %}
                    <img src="{{ asset(artist.artistPhotos|first.filePath) }}" alt="{{ artist.artistName }}">
                {% else %}
                    <p>No photo available</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
